{# Core/IconbarBundle/Resources/views/layout/header.html.twig #}

<nav class="site-navbar navbar navbar-inverse navbar-fixed-top navbar-mega bg-indigo-500" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
      data-toggle="menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
      data-toggle="collapse">
        <i class="icon md-more" aria-hidden="true"></i>
      </button>
      <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
        <img class="navbar-brand-logo" src="http://ebmvietnam.com/wp-content/uploads/2015/11/ebm_website_logo_02.png" title="EBM">
      </div>
        
    </div>
    <div class="navbar-container container-fluid bg-indigo-500">
      <!-- Navbar Collapse -->
      <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
        
        <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
          
            {# Quel est le drapeau à afficher représentant la langue ? #}
            {% set flag = "gb" %}
            {% if app.request.locale == "fr" %}
                {% set flag = "fr" %}
            {% endif %}


          {# Choix de la langue #}
          <li class="dropdown">
            <a  href="javascript:void(0)" data-animation="scale-up"
               aria-expanded="false" role="button">
              {{ "now"|date("H:i",user_timezone) }}
            </a>
          </li>


            {# Notifications #}
            <li class="dropdown">
              <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false"
                 data-animation="scale-up" role="button"
              >
                <i class="icon md-notifications" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                <li class="dropdown-menu-header" role="presentation">
                  <h5>Mes notifications</h5>
                </li>
                <li class="dropdown-menu-footer" role="presentation">
                  <a href="#" role="menuitem">
                    Encore faut-il les programmer
                  </a>
                </li>
              </ul>
            </li>
            
            {# Help #}
            <li class="dropdown">
              <a data-toggle="dropdown" href="javascript:void(0)" title="Assistance" aria-expanded="false"
              data-animation="scale-up" role="button">
                <i class="icon md-comments" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                <li class="dropdown-menu-header" role="presentation">
                  <h5>Assistance</h5>
                </li>

                <li class="list-group padding-top-10" role="presentation">
                  <div data-role="container">
                    <div data-role="content">
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="media-left padding-right-20 padding-left-20">
                              <a href="mailto:clement@capteev.com" class="btn btn-sm btn-floating btn-primary waves-effect waves-float waves-light" target="_blank"><i class="icon md-email" style="margin-right:3px"></i></a>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading"><a href="mailto:contact@capteev.com">nicolaspro14@gmail.com</a></h6>
                            <div class="media-meta">
                              <p>N'importe quand</p>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </li>
                <li class="list-group padding-top-10" role="presentation">
                  <div data-role="container">
                    <div data-role="content">
                      <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                        <div class="media">
                          <div class="media-left padding-right-20 padding-left-20">
                              <a href="tel:+33671573740" class="btn btn-sm btn-floating btn-success waves-effect waves-float waves-light" target="_blank"><i class="icon md-phone" style="margin-right:3px"></i></a>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">+33 6 71 57 37 40</h6>
                            <div class="media-meta">
                              <p>N'importe quand</p>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </li>
                <div class="margin-top-20">
                </div>
              </ul>
            </li>
            
            {# Nom d'utilisateur connecté #}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% set nameToDisplay = app.user.username %}
                {% if app.user.fullname is defined and app.user.fullname|length > 0 %}
                    {% set nameToDisplay = app.user.fullname %}
                {% endif %}
                <li><a href="#">Welcome {{ nameToDisplay }} !</a></li>
            {% endif %}
         
            {# Déconnexion #}
          {#
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon md-power"></i></a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}"><i class="icon md-power"></i></a></li>
            {% endif %}
          #}
         
        </ul>
        <!-- End Navbar Toolbar Right -->
      </div>
      <!-- End Navbar Collapse -->
    </div>
  </nav>
            
         