
{% extends "@EBMGDP/bundleLayout.html.twig" %}

{# Titre de l'onglet #}
{% block title %}
    Gestion de projet
{% endblock %}

{# CSS propres à cette page #}
{% block stylesheets %}

{% endblock %}


{# Contenu de la page #}

{% block content_body %}

    Notre hello world de gestion de projet !

{% endblock %}


{# Scripts propres à cette page #}
{% block scripts %}


{% endblock %}
