{# src/CPCreatorBundle/Resources/views/Default/overview.html.twig #}

{% extends "@EBMKM/bundleLayout.html.twig" %}

{# Titre de l'onglet #}
{% block title %}
    Dashboard
{% endblock %}

{# CSS propres à cette page #}
{% block stylesheets %}

{% endblock %}


{# Contenu de la page #}

{% block content_body %}


    {# Image d'accueil #}
    <div style="position:fixed;width: 100%;height:100%;top:0;left:0;
        background:url('http://wallpapercave.com/wp/JOPHIL2.jpg');
        background-size:cover ">
        <h1 style="color:white;
        position:fixed;
        display: block;
        top:calc( 50% - 40px );
        right: 5%;
        font-size:80px;">
            Hello World !
        </h1>
    </div>
{% endblock %}


{# Scripts propres à cette page #}
{% block scripts %}


{% endblock %}